services:
  localstack:
    image: localstack/localstack:latest
    container_name: jobwatch_localstack
    ports:
      - "4566:4566"
    environment:
      - SERVICES=dynamodb
      - DEBUG=1
    volumes:
      - localstack_data:/var/lib/localstack

volumes:
  localstack_data:
